@import "../css/sidebar.css";
.btn-space {
    margin-right: 15px;
}
.table-danger {
    background-color: #dc3545!important;
    color: #fff;
}

.agents{
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 22px;
    width: 100%;
    text-align: center;
    color: #dc3545;
}

.page-empty-cand {
    margin: 89px 1px 89px;
}