
<div id="wrapper">
    <div id="page-content-wrapper" *ngIf="agents && this.mode==0">
        <div class="card">
            <div class="card-body">
                    <h3 class="card-title agents">Liste des agents</h3>
                <div>
                    
                    <div>
                        <label><a class="btn btn-info" href="/agent">Retour</a> </label>
                    </div>
                    <br>
                </div>
                <div *ngIf="agents.length!=0" class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>username</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of agents">
                                <td> {{a.lastName}}</td>
                                <td>{{a.firstName}}</td>
                                <td>{{a.username}}</td>
                                <td>{{a.email}}</td>
                                <td><button class="btn btn-outline-info" (click)="getOneAgent(a.idAgent)">Voir</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="agents">
        <div *ngIf="agents.length==0" class="page-empty-cand" id="page-content-wrapper">
            <div class="card" >
                <div class="card-body">
                    <h3 class="card-title agents">Liste des agents</h3>                     
                    <div>
                        <label><a class="btn btn-info" href="/agents">Retour</a> </label>
                        <p>Liste vide</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="page-content-wrapper" *ngIf="this.mode==1">
        <div class="card" >
            <div>
                <br>
                <h3 class="card-title agents">Agent {{agent.username}} </h3>
                <button class="btn btn-info" (click)="golistAgents()">Retour</button>
            </div>
            <br>
            <div class="row gutters-sm">
                <div class="col-md-12">
                    <div class=" mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Prénom</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{agent.firstName}}
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{agent.lastName}}
                            </div>
                          </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Username</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{agent.username}}
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{agent.email}}
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Adresse</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{agent.address}} {{agent.postalCode}} {{agent.city}} {{agent.country}}
                          </div>
                        </div>
                        <div class="card-body" *ngIf="agent.certifObtenus.length!=0">
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Certificats obtenus</i></h6>
                            <ul>
                                <li *ngFor="let certif of agent.certifObtenus; let index = index">
                                    <i class="far fa-file-check">{{agent.certifObtenus[index].title}}</i>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body" *ngIf="agent.certifObtenus.length==0">
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Certificats obtenus</i></h6>
                            <ul>
                                <li>
                                    <i class="far fa-file-check">Pas de certificat</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

</div>

<div class="push"></div>