<div id="wrapper">
    <div id="page-content-wrapper">
        <button class="btn btn-info" (click)="goNewSession()" *ngIf="isAdmin()">Nouvelle session</button>
            <div class="d-flex justify-content-center">
                <label class="btn-space sessionback" (click)="getQualite('stagiaire')" *ngIf="isStagiaire">
                    <a class="btn btn-outline-primary" [ngClass]="quality=='stagiaire' ?'active': ''">STAGIAIRE </a>
                </label>
                <label class="sessionback" (click)="getQualite('formateur')" *ngIf="isFormateur">
                    <a class="btn btn-outline-primary" [ngClass]="quality=='formateur' ?'active': ''">FORMATEUR</a>
                </label>
            </div>

        <div *ngIf="sessionUV">
            <div class="container mt-5 table-responsive" *ngIf="this.mode==0 && sessionUV.length!=0">
                <table class="table table-borderless main">
                    <thead>
                        <tr class="head">
                            <th>Session UV</th>
                            <th>Date de debut</th>
                            <th>Date de fin</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="rounded bg-white" *ngFor="let session of sessionUV">
                            
                            <td><button class="btn btn-warning btn-sm"> {{session.typeSessionUV.title}}</button> </td>
                            <td>{{session.startDate}}</td>
                            <td>{{session.endDate}}</td>
                            <td><button class="btn btn-outline-info" (click)="getOneSessionUV(session.idSessionUV,quality)">Voir</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div *ngIf="sessionUV && sessionUV.length==0" class="page-empty-cand" id="page-content-wrapper">
            <div class="card" >
                <div class="card-body">
                    <h3 class="card-title session">Pas de Session UV </h3>  
                    <p class="text-center">Veuillez revenir plus tard</p>                   

                </div>
            </div>
        </div>

        <div class="card" *ngIf="this.mode==1">
            <div>
                <br>
                <h3 class="card-title session">SessionUV {{oneSession.typeSessionUV.title}} </h3>
                <button class="btn btn-info" (click)="golistSession()">Retour</button>
            </div>
            <br>
            <div class="row gutters-sm">
                <div class="col-md-12">
                    <div class=" mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Titre de session</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{oneSession.typeSessionUV.title}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Date de debut</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                {{oneSession.startDate}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Date de fin</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{oneSession.endDate}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Formateur</h6>
                                </div>
                                <div *ngIf="oneSession.formateur" class="col-sm-9 text-secondary">
                                    {{oneSession.formateur}}
                                </div>
                                <div *ngIf="!oneSession.formateur" class="col-sm-9 text-secondary">
                                    Pas de formateur choisi 
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nombre minimum de stagiaire</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{oneSession.typeSessionUV.minNumber}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nombre maximum de stagiaire</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{oneSession.typeSessionUV.maxNumber}}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Description</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{oneSession.typeSessionUV.description}}
                                </div>
                            </div>
                            <hr>
                            <div class="card-body" *ngIf="oneSession.typeSessionUV.listPrerequis.length!=0">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Pre-réquis</i></h6>
                                <ul>
                                    <li *ngFor="let prerequis of oneSession.typeSessionUV.listPrerequis let index = index">
                                        <i class="far fa-file-check">{{oneSession.typeSessionUV.listPrerequis[index].title}}</i>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body" *ngIf="oneSession.typeSessionUV.listPrerequis.length==0">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Pre-réquis</i></h6>
                                <ul>
                                    <li>
                                        <i class="far fa-file-check">Pas de pre-réquis</i>
                                    </li>
                                </ul>
                            </div>
                            
                            <hr>
                            <div *ngIf="!isAdmin()">
                                <div class="row" *ngIf="checkPrerequisAndCertif(certifObtenus, oneSession.typeSessionUV)&& this.quality=='stagiaire' && isShow">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">En tant que</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <form #qualiteCand="ngForm" (ngSubmit)="onCandSession(oneSession,qualiteCand,this.agent)" novalidate>
                                            <input class="form-control" readonly name="qualite" [(ngModel)]='stagiaire' #qualite="ngModel" required>
                                            <br>
                                            <button type="submit" class="btn btn-success mb-2">Candidater</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row" *ngIf="certifObtenus.includes(oneSession.typeSessionUV.title) && this.quality=='formateur'">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">En tant que</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <form #qualiteCand="ngForm" (ngSubmit)="onCandSession(oneSession,qualiteCand,this.agent.idAgent)" novalidate>
                                            <input class="form-control" readonly name="qualite" [(ngModel)]='formateur' #qualite="ngModel" required>
                                            <br>
                                            <button type="submit" class="btn btn-success mb-2">Candidater</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center" *ngIf="isAdmin()">
                                <button type="submit" class="btn btn-success mb-2" (click)="update(oneSession.idSessionUV)">Modifier</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card" *ngIf="this.mode==2">
            <div class="card-header">
                <h5 class="card-title">Modifier Session</h5>
            </div>
            <div class="card-body">

                <form #sessionForm="ngForm" (ngSubmit)="updateSession(sessionForm)">
                    <div class="row">
                        <input type="hidden" name="idSessionUV" [(ngModel)]="sessionUV.idSessionUV">
                        <input type="hidden" name="idTypeSessionUV" [(ngModel)]="sessionUV.typeSessionUV.idTypeSessionUV">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Titre de session</label>
                                <input type="text" class="form-control" name="title" [(ngModel)]="sessionUV.typeSessionUV.title" #title="ngModel" 
                                [ngClass]="{ 'is-invalid': sessionForm.submitted && title.invalid}" required>
    
                                
                                <div class="text-danger mt-1" *ngIf="sessionForm.submitted && title.invalid">
                                    <p *ngIf="title.errors?.required">Titre de session est obligatoire</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-1">
                            <div class="form-group" *ngIf="listFormateur">
                                <label>Formateur</label>
                                <!-- <input *ngIf="listFormateur.length==0" type="text" class="form-control" name="formateur" [(ngModel)]="sessionUV.formateur" #formateur="ngModel">  -->
                                <select [(ngModel)]="sessionUV.formateur" name="formateur" class="form-control form-control-sm">
                                    <option *ngFor="let p of listFormateur" [ngValue]="p.agent.username" [attr.selected]="sessionUV.formateur==p.agent.username ? true : null"> 
                                        {{p.agent.username}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Date de debut</label>
                                <input type="text" class="form-control" name="startDate" [(ngModel)]="sessionUV.startDate" #startDate="ngModel" 
                                [ngClass]="{ 'is-invalid': sessionForm.submitted && startDate.invalid}" placeholder="dd/MM/YYYY"
                                pattern="^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/]\d{4}$" required>
                                    
                                
                                <div class="text-danger mt-1" *ngIf="sessionForm.submitted && startDate.invalid">
                                    <p *ngIf="startDate.errors?.required">Date de debut est obligatoire</p>
                                    <div *ngIf="startDate.errors?.pattern">Saisir une date valide</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Date de fin</label>
                                <input type="text" class="form-control" name="endDate" [(ngModel)]="sessionUV.endDate" #endDate="ngModel" 
                                [ngClass]="{ 'is-invalid': sessionForm.submitted && endDate.invalid}" 
                                pattern="^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/]\d{4}$" required>
                                
                                
                                <div class="text-danger mt-1" *ngIf="sessionForm.submitted && endDate.invalid">
                                    <p *ngIf="endDate.errors?.required">Date de fin est obligatoire</p>
                                    <div *ngIf="startDate.errors?.pattern">Saisir une date valide</div>
                                </div>
                            </div>
                        </div>
                    </div>
     
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Nombre minimum de stagiaire</label>
                                <input type="number" class="form-control" name="minNumber" [(ngModel)]="sessionUV.typeSessionUV.minNumber" #minNumber="ngModel" 
                                [ngClass]="{ 'is-invalid': sessionForm.submitted && minNumber.invalid}" [pattern] = "'^[1-9][0-9]*$'" required>
    
                                
                                <div class="text-danger mt-1" *ngIf="sessionForm.submitted && minNumber.invalid">
                                    <p *ngIf="minNumber.errors?.required">Nombre minimum de stagiaire est obligatoire</p>
                                    <p *ngIf="maxNumber.errors?.pattern">Nombre minimum superieur à 0</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Nombre maximum de stagiaire</label>
                                <input type="number" class="form-control" name="maxNumber" [(ngModel)]="sessionUV.typeSessionUV.maxNumber" #maxNumber="ngModel"
                                [ngClass]="{ 'is-invalid': sessionForm.submitted && maxNumber.invalid}" [pattern] = "'^[1-9][0-9]*$'" required>
                                
                                
                                <div class="text-danger mt-1" *ngIf="sessionForm.submitted && maxNumber.invalid">
                                    <p *ngIf="maxNumber.errors?.required">Nombre maximum de stagiaire est obligatoire</p>
                                    <p *ngIf="maxNumber.errors?.pattern">Nombre maximum superieur à 0</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>Description</p>
                                <textarea name="description" class="form-control" cols="100" rows="3"[(ngModel)]="sessionUV.typeSessionUV.description" #description="ngModel"
                                [ngClass]="{ 'is-invalid': sessionForm.submitted && description.invalid }" required>
                                </textArea>
                                      
                                <div *ngIf="sessionForm.submitted && description.invalid" class="invalid-feedback">
                                    <div *ngIf="description.errors?.required">description est obligatoire</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Pre-requis </label>
                                <select [(ngModel)]="sessionUV.typeSessionUV.listPrerequis" name="listPrerequis" class="form-control form-control-sm" multiple>
                                    <option *ngFor="let p of listPrerequis" [ngValue]="p"> <span *ngIf="p.title!=sessionUV.typeSessionUV.title">{{p.title}}</span></option>
                                </select>

                                      
                                <div *ngIf="sessionForm.submitted && description.invalid" class="invalid-feedback">
                                    <div *ngIf="description.errors?.required">description est obligatoire</div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                        
                            <button class="btn btn-primary" type="submit" [disabled]="!sessionForm.valid">Modifier</button>
                            <button class="btn btn-secondary pull-right" (click)="goBack()">Annuler</button>
                        
                    
                </form>
            </div>

        </div>


    </div>
</div>

<div class="push"></div>
