@import "../css/sidebar.css";
.session{
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 22px;
    width: 100%;
    text-align: center;
    color: #dc3545;
}


.main {
    border-collapse: separate !important;
    border-spacing: 0 11px !important
}

tr {
    border: 1px solid #eee
}

.head th {
    font-weight: 500;
    background-color: #fff!important;
}
.btn-space {
    margin-right: 15px;
}


.sessionback{
    background-color: #fff!important;
}

.page-empty-cand {
    margin: 89px 1px 89px;
}
