		
<div id="wrapper">

    <!-- Sidebar -->

     <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" *ngIf="agent">
            <div class="card" *ngIf="this.mode==0">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                      <div class="">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                              <h4>{{agent.username}}</h4>
                              <p class="text-secondary mb-1">{{agent.address}}</p>
                              <p class="text-muted font-size-sm">{{agent.postalCode}} {{agent.city}} {{agent.country}}</p>
                              <div class="update ml-auto mr-auto">
                                <button class="btn btn-primary btn-round" type="submit" (click)="updateProfile(agent)">Modifier</button>
                            </div>
                            </div>
                          </div>
                        </div>
                      </div>
    
                    </div>
                    <div class="col-md-8">
                        <div class=" mb-3">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Prenom</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{agent.firstName}}
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Nom</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  {{agent.lastName}}
                                </div>
                              </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{agent.email}}
                              </div>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                {{agent.address}} {{agent.postalCode}} {{agent.city}} {{agent.country}}
                              </div>
                            </div>
                        </div>
                        <div class="card-body" *ngIf="agent.certifObtenus.length!=0">
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Certificats obtenus</i></h6>
                            <ul>
                                <li *ngFor="let certif of agent.certifObtenus; let index = index">
                                    <i class="far fa-file-check">{{agent.certifObtenus[index].title}}</i>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body" *ngIf="agent.certifObtenus.length==0">
                            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Certificats obtenus</i></h6>
                            <ul>
                                <li>
                                    <i class="far fa-file-check">Pas de certificat</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-danger pull-right" mwlConfirmationPopover [popoverTitle]="deleteAgentTitle" [popoverMessage]="deleteAgentMessage" [cancelText]="cancelText"
                        (confirm)="deleteAgent(agent.idAgent)" (cancel)="cancelClicked = true" placement="left" confirmButtonType="danger" [confirmText]="supprimerText" >
                            <i class="fa fa-trash-o " aria-hidden="true"> Supprimer mon compte</i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div *ngIf="this.mode==1">
            <button type="button" class="btn btn-info" (click)="backProfile()"><strong class="fa fa-arrow-left "> Retour </strong></button>
            <hr>
            <div class="card card-user">
    
                <div class="card-header">
                    <h5 class="card-title">Edit Profile</h5>
                </div>
                <div class="card-body">
                    <form #myForm="ngForm" (ngSubmit)="updateAgent(myForm.value)">
                        <div class="row">
                            <input type="hidden" name="idAgent" [(ngModel)]="agent.idAgent">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Prenom</label>
                                    <input type="text" class="form-control" name="firstName" [(ngModel)]="agent.firstName" #firstName="ngModel" 
                                    [ngClass]="{ 'is-invalid': myForm.submitted && firstName.invalid}" required>
    
                                    <!-- Error -->
                                    <div class="text-danger mt-1" *ngIf="myForm.submitted && firstName.invalid">
                                        <p *ngIf="firstName.errors?.required">Prénom est obligatoire</p>
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" name="lastName" [(ngModel)]="agent.lastName" #lastName="ngModel"
                                    [ngClass]="{ 'is-invalid': myForm.submitted && lastName.invalid}" required>
                                    
                                    <!-- Error -->
                                    <div class="text-danger mt-1" *ngIf="myForm.submitted && lastName.invalid">
                                        <p *ngIf="lastName.errors?.required">Nom est obligatoire</p>
                                    </div>
    
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Nom utilisateur</label>
                                    <input type="text" class="form-control" name="username" [(ngModel)]="agent.username" #username="ngModel" 
                                    [ngClass]="{ 'is-invalid': myForm.submitted && username.invalid}" required>
    
                                    <!-- Error -->
                                    <div class="text-danger mt-1" *ngIf="myForm.submitted && username.invalid">
                                        <p *ngIf="username.errors?.required">Nom utilisateur est obligatoire</p>
                                    </div>
    
                                </div>
                            </div>
    
                            <div class="col-md-6 pr-1">
                                <div class="form-group">
                                    <label>Mot de passe</label>
                                    <input type="text" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel"
                                    [ngClass]="{ 'is-invalid': myForm.submitted && password.invalid}" minlength="4" required>
                                    
                                    <!-- Error -->
                                    <div *ngIf="myForm.submitted && password.invalid" class="invalid-feedback">
                                        <div *ngIf="password.errors?.required">Set a strong password.</div>
                                        <div *ngIf="password.errors?.minlength">Minimum 4 characters required.</div>
                                    </div> 
    
                                </div>
                            </div>
                            
                        </div>
    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" [(ngModel)]="agent.email" ngModel [email]="true" #email="ngModel"
                                    [ngClass]="{ 'is-invalid': myForm.submitted && email.invalid }" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
    
                                          <!-- Error -->
                                    <div *ngIf="myForm.submitted && email.invalid" class="invalid-feedback">
                                        <div *ngIf="email.errors?.required">Email est obligatoire</div>
                                        <div *ngIf="email.errors?.email">Saisir un email valide</div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Adresse</label>
                                    <input type="text" class="form-control" name="address" [(ngModel)]="agent.address" #address="ngModel" 
                                    [ngClass]="{ 'is-invalid': myForm.submitted && address.invalid }" required>
    
                                    <!-- Error -->
                                    <div class="text-danger mt-1" *ngIf="myForm.submitted && address.invalid">
                                        <p *ngIf="address.errors?.required">l'adresse est obligatoire</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Ville</label>
                                    <input type="text" name="city" class="form-control" [(ngModel)]="agent.city" #city="ngModel" 
                                    [ngClass]="{ 'is-invalid': myForm.submitted && city.invalid }" required>
    
                                    <!-- Error -->
                                    <div class="text-danger mt-1" *ngIf="myForm.submitted && city.invalid">
                                        <p *ngIf="city.errors?.required">la ville est obligatoire</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Pays</label>
                                    <input type="text" name="country" class="form-control" [(ngModel)]="agent.country" #country="ngModel" 
                                    [ngClass]="{ 'is-invalid': myForm.submitted && country.invalid }" required>
                                
                                                                <!-- Error -->
                                    <div class="text-danger mt-1" *ngIf="myForm.submitted && country.invalid">
                                        <p *ngIf="country.errors?.required">Le pays est obligatoire</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pr-1">
                                <div class="form-group">
                                    <label>Code Postal</label>
                                    <input type="text" name="postalCode" class="form-control" [(ngModel)]="agent.postalCode" #postalCode="ngModel" 
                                    [ngClass]="{ 'is-invalid': myForm.submitted && postalCode.invalid }" required>
    
                                                                    <!-- Error -->
                                    <div class="text-danger mt-1" *ngIf="myForm.submitted && postalCode.invalid">
                                        <p *ngIf="postalCode.errors?.required">le code postal est obligatoire</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button class="btn btn-primary" type="submit"[disabled]="!myForm.valid">Modifier</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div> <!-- /#page-content-wrapper -->
</div> <!-- /#wrapper -->