<div id="wrapper">
    <div id="page-content-wrapper" *ngIf="candidature.length!=0 && this.mode==0">
        <div class="card">
            <div class="card-body">
                    <h3 class="card-title candidature">candidature</h3>
                <div class="d-flex justify-content-center">
                    <label class="btn-space" (click)="getQualite(username,'STAGIAIRE')" *ngIf="stagiaire">
                        <a class="btn btn-outline-primary " [ngClass]="qualite=='stagiaire' ?'active': ''">STAGIAIRE </a>
                    </label>
                    <label (click)="getQualite(username,'FORMATEUR')" *ngIf="formateur">
                        <a class="btn btn-outline-primary" [ngClass]="qualite=='formateur' ?'active': ''">FORMATEUR</a>
                    </label>
                </div>
                <div>
                    
                    <div>
                        <label><a class="btn btn-info" href="/agent">Retour</a> </label>
                        <label class="pull-right"> <a class="btn btn-success " href="agent/sessionUV">Candidater</a></label>
                    </div>
                    <h4 class="session">Liste des sessions</h4>
                </div>
                <div *ngIf="candidature.length!=0" class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Statut</th>
                                <th>Qualité</th>
                                <th>Date debut</th>
                                <th>Date fin</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cand of candidature">
                                <td> <button class="btn btn-warning">{{cand.sessionUV.typeSessionUV.title}}</button></td>
                                <td><a [ngClass]="cand.statut=='ACCEPTE'?'text-success': ''">{{cand.statut}}</a></td>
                                <td>{{cand.qualite}}</td>
                                <td>{{cand.sessionUV.startDate}}</td>
                                <td>{{cand.sessionUV.endDate}}</td>
                                <td><button class="btn btn-outline-info" (click)="getOneCand(cand.idCandidature)">Voir</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="candidature.length==0" class="page-empty-cand" id="page-content-wrapper">
        <div class="card" >
            <div class="card-body">
                <h3 class="card-title candidature">candidature</h3>                     
                <div>
                    <label><a class="btn btn-info" href="/agent">Retour</a> </label>
                    <label class="pull-right"> <a class="btn btn-success " href="agent/sessionUV">Candidater</a></label>
                </div>
            </div>
        </div>
    </div>

    <div id="page-content-wrapper">
        <div class="card" *ngIf="this.mode==1">
            <div>
                <br>
                <h3 class="card-title candidature">candidature </h3>
                <button class="btn btn-info" (click)="golistCand(candidat.qualite)">Retour</button>
            </div>
            <br>
            <div class="row gutters-sm">
                <div class="col-md-12">
                    <div class=" mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Titre de session</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{candidat.sessionUV.typeSessionUV.title}}
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Statut</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              {{candidat.statut}}
                            </div>
                          </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Qualité</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{candidat.qualite}}
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Date debut</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{candidat.sessionUV.startDate}}
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Date de fin</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{candidat.sessionUV.endDate}}
                          </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-3">
                            <h6 class="mb-0">Description</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                            {{candidat.sessionUV.typeSessionUV.description}}
                          </div>
                        </div>
                    </div>
<!--                     <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3">Description</h6>
                        <div>
                            <p>{{candidature.sessionUV.typeSessionUV.description}}</p>    
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
    </div>

</div>
<div class="push"></div>

