body {
    overflow-x: hidden;
 }
 
 .push {
   height: 100px;
 }
/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color:#31353D !Important;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
    position: fixed;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left:-250px;
}

#menu-toggle {
    margin-top:20px;
    float:right;
}
#menu-toggle i{
    font-size: 20px !Important;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    right:15px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    cursor: pointer;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a span{
    margin-left:10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}


.sidebar-nav li a.active {
    background:#dc3545;
    color: #fff;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

 

    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 0;
        /* position: absolute; */
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 40px;
        
    }

    #wrapper.toggled span {
        visibility:hidden;
        
    }
  #wrapper.toggled   i {
    float:left;
    } 

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left:50px;
        width: auto;
    }

/* toggle app.*/
 
    #wrappers {
        padding-left: 220px;
    }

    #wrappers.toggled {
        padding-left: 0;
    }


    #wrappers.toggled #sidebar-wrapper {
        width: 40px;
        
    }

    #wrappers.toggled span {
        visibility:hidden;
        
    }
    #wrappers.toggled   i {
    float:right;
    } 


    #wrappers.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left:50px;
    }


#wrappers.toggled #page-content-wrapper {
    position: absolute;
    margin-left:-250px;
}

#wrappers {
    padding-left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    
}

#wrappers.toggled {
    padding-left: 200px;
}



#wrappes {
    padding-left: 220px;
}

#wrappes.toggled {
    padding-left: 0;
}


#wrappes.toggled #sidebar-wrapper {
    width: 40px;
    
}

#wrappes.toggled span {
    visibility:hidden;
    
}
#wrappes.toggled   i {
float:right;
} 


#wrappes.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-left:50px;
}


#wrappes.toggled #page-content-wrapper {
position: absolute;
margin-left:-250px;
}

#wrappes {
padding-left: 0;
-webkit-transition: all 0.6s ease;
-moz-transition: all 0.6s ease;
-o-transition: all 0.6s ease;
transition: all 0.6s ease;

}

#wrappes.toggled {
padding-left: 200px;
}