.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .banner-sec{
    background:url("../../assets/img/bgImgLogin.jpg"); 
    background-size:cover; 
    min-height:300px; 
    border-radius: 0 10px 10px 0; 
    padding:0;
    background-position: left;
    background-repeat: no-repeat;
    
  }
  .push {
    height: 100px;
  }