<div class="container">
    <div class="card">
        <div class="card-body">
            <div *ngIf="mode==1" class="alert alert-danger">
                <strong>Bad credentiels....</strong>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card.text-white.bg-info">
                        <div class="card card-header">
                            <img class="card-img-top profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <form #f=ngForm (ngSubmit)= "onLogin(f.value)">
                                <div class="form-group">
                                    <label class="control-label">Nom </label>
                                    <input class="form-control" ngModel="" type="text" name="username" required/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"> Mot de passe </label>
                                    <input class="form-control" ngModel="" type="password" name="password" required/>
                                </div>
                                <button type="submit" class="btn btn-success"> Login</button>
                                <button type="submit" class="btn btn-primary pull-right" (click)="onRegister()">Register</button>
                            </form>
                            <div class="text-center">
                                <button class="btn btn-link" (click)="passwordForget()">Mot de passe oublié?</button>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
        
                <div class="col-md-6 banner-sec">
                    
                </div>
        
            </div>
            <br>
            <div class="card m-3" *ngIf="mode==2">
                <h3 class="card card-header">Reinitialiser son mot de passe</h3>
                <div class="card-body">
                    <form #forgetPasswordForm=ngForm (ngSubmit)= "forgetPassword(forgetPasswordForm.value)">
                        <div class="form-group">
                            <label class="control-label">Nom utilisateur </label>
                            <input class="form-control" ngModel="" type="text" name="username" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Nouveau Mot de passe </label>
                            <input class="form-control" ngModel="" type="password" name="password" required/>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success">Soumettre</button>
                            <button class="btn btn-secondary pull-right" type="reset" (click)="onReset()">Annuler</button>
                        </div>
                    </form>
                    <div class="push"></div>
                </div>
                
            </div>
            <br>
        </div>

    </div>

</div>


