<nav class="navbar navbar-expand-md navbar-dark bg-danger sticky-top">
  <a href="#" class="navbar-brand">FormSP</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target" (click)="collapse=!collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapse_target" [ngClass]="{ collapse: collapse, 'navbar-collapse': true }">
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="/login">Connexion</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" (click)="logout()">Deconnexion</a>
        </li>
      </ul>
    </div>
</nav>

<div *ngIf="isAuthenticated()">

  <div id="wrappers">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                
                    <a id="menu-toggle" (click)="toggle()"> <i class="fa fa-bars "></i> 
                    </a>
            </li>
            <li (click)="onProfile()">
                <a [ngClass]="currentSideBar=='profile'?'active':'' "><i class="fa fa-user "> </i> <span> Profile</span>  </a>
            </li>
            <li (click)="onCandidadure(username)">
                <a [ngClass]="currentSideBar=='candidature'?'active':'' "> <i class="fa fa-folder "> </i> <span> Candidature</span> </a>
            </li>
            <li (click)="onSessionUV()">
                <a [ngClass]="currentSideBar=='sessionUV'?'active':'' "> <i class="fa fa-puzzle-piece"> </i> <span> Session UV</span> </a>
            </li>
        </ul>
    </div>
  </div>
</div>

<div *ngIf="isAuthenticated() && isAdmin()">

  <div id="wrappes">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                
                    <a id="menu-toggle" (click)="toggle()"> <i class="fa fa-bars "></i> 
                    </a>
            </li>
            <li (click)="onAgents()">
              <a [ngClass]="currentSideBar=='agents'?'active':'' "> <i class="fa fa-font"> </i> <span> Agents</span> </a>
            </li>
            <li (click)="onCandidatures()" >
                <a  [ngClass]="currentSideBar=='candidatures'?'active':'' "> 
                  <i class="fa fa-folder "> </i> <span> Candidature</span> 
                </a>
<!--                 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a (click)="onListCandStagiaire('stagiaire')">Stagiaire</a></li>
                  <li><a (click)="onListCandFormateur('formateur')">Formateur</a></li>
                </ul>  class="dropdown"  class="dropdown-toggle" (click)="show()"-->
            </li>
            <li (click)="onSessionUV()">
                <a [ngClass]="currentSideBar=='sessionUV'?'active':'' "> <i class="fa fa-puzzle-piece"> </i> <span> Session UV</span> </a>
            </li>
            <li (click)="onProfile()">
              <a [ngClass]="currentSideBar=='profile'?'active':'' "><i class="fa fa-user "> </i> <span> Profil</span>  </a>
          </li>
        </ul>
    </div>
    
  </div>
</div>

  
  <div class="">
    <router-outlet></router-outlet>
  </div>
  <!-- Footer -->
<footer class=" footer text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-facebook-square" aria-hidden="true"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-twitter-square" aria-hidden="true"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fa fa-linkedin-square"></i
      ></a>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 
    <a class="text-white" href="#">FORMATION SAPEUR POMPIER</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
