@import "./css/sidebar.css";
.imgbackground{
    background-image: url(../assets/img/backgroundPompier.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    
}

.dropdown-menu {
    position: relative;
    width: 100%;
    padding-left: 25px;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #31353D !Important;
    box-shadow: none;
    text-indent: 20px;
    right: 15px;
    width: 200px;
    font-size: 13px;
}

.dropdown-menu li{
    list-style-type: circle;
}

.footer{
    background-color: #31353D !Important;
}

