  <div class="modal-body">
    <p><strong><span class="text-primary">{{message}}</span></strong></p>
  </div>
  <div class="modal-footer">
  
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Ok click')">Ok</button>
  </div>