<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="card m-3">
            <h5 class="card-header">Nouvelle session UV</h5>
            <div class="card-body">
                <form [formGroup]="sessionForm" (ngSubmit)="addNewSessionUV(sessionForm)">
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>titre de session</label>
                            <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                <div *ngIf="f.title.errors?.required">titre de session est obligatoire</div>
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <label>Formateur</label>
                            <input readonly type="text"  formControlName="formateur" class="form-control" placeholder="Veuillez accepter un formateur pour cette sessionUV " />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Date de debut</label>
                            <input type="text" placeholder="dd/MM/YYYY" formControlName="startDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" />
                            <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                                <div *ngIf="f.startDate.errors?.required">Date de debut est obligatoire</div>
                                <div *ngIf="f.startDate.errors?.pattern">Saisir une date valide</div>
                            </div>
                        </div>
    
                        <div class="form-group col-6">
                            <label>Date de fin</label>
                            <input type="text" placeholder="dd/MM/YYYY" formControlName="endDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" />
                            <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                                <div *ngIf="f.endDate.errors?.required">Date de fin est obligatoire</div>
                                <div *ngIf="f.startDate.errors?.pattern">Saisir une date valide</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Nombre minimum de stagiaire</label>
                            <input type="number" formControlName="minNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.minNumber.errors }" />
                            <div *ngIf="submitted && f.minNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.minNumber.errors?.required">Nombre minimum de stagiaire est obligatoire</div>
                                <div *ngIf="f.minNumber.errors?.min">Saisir un nombre  superieur à 0</div>
                            </div>
                        </div>
    
                        <div class="form-group col-6">
                            <label>Nombre maximun de stagiaire</label>
                            <input type="number" formControlName="maxNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.maxNumber.errors }" />
                            <div *ngIf="submitted && f.maxNumber.errors" class="invalid-feedback">
                                <div *ngIf="f.maxNumber.errors?.required">Nombre maximun de stagiaire est obligatoire</div>
                                <div *ngIf="f.maxNumber.errors?.min">Saisir un nombre  superieur à 0</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <label>Description</label>
                        <textarea class="form-control" formControlName="description" cols="" rows="" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                        </textarea>
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Date de fin est obligatoire</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Pre-requis </label>
                        <select formControlName="listPrerequis" class="form-control form-control-sm" multiple >
                            <option *ngFor="let p of listPrerequis" [ngValue]="p">{{p.title}}</option>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Créer sessionUV </button>
                    <button type="reset" class="btn btn-secondary pull-right" (click)="onReset()">Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>

