@import "../css/sidebar.css";

.candidature{
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 22px;
    width: 100%;
    text-align: center;
    color: #dc3545;
}
.btn-space {
    margin-right: 15px;
}
.listCand{
    border-bottom: 0;
    margin-bottom: 1em !important;
    padding-bottom: 0 !important;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    color: #dc3545;
}