<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="card">
            <div class="card-body">
                <div *ngIf="this.mode==0 && candidatures">
                    <h3 class="card-title candidature">candidatures</h3>
                    <div class="d-flex justify-content-center">
                        <label class="btn-space" (click)="getQualite(currentStatut,'STAGIAIRE')" *ngIf="stagiaire">
                            <a class="btn btn-outline-primary " [ngClass]="qualite=='stagiaire' ?'active': ''">STAGIAIRE </a>
                        </label>
                        <label (click)="getQualite(currentStatut,'FORMATEUR')" *ngIf="formateur">
                            <a class="btn btn-outline-primary" [ngClass]="qualite=='formateur' ?'active': ''">FORMATEUR</a>
                        </label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button [ngClass]="currentStatut=='EN ATTENTE'?'active':'' " type="button" class="btn btn-outline-dark btn-space" (click)="getStatut(qualite,'EN ATTENTE')">EN ATTENTE</button>
                        <button [ngClass]="currentStatut=='ACCEPTE'?'active':'' " type="button" class="btn btn-outline-dark btn-space" (click)="getStatut(qualite,'ACCEPTE')">ACCEPTÉ</button>
                        <button [ngClass]="currentStatut=='REFUSE'?'active':'' " type="button" class="btn btn-outline-dark btn-space" (click)="getStatut(qualite,'REFUSE')">REFUSÉ</button>
                    </div>
                    <div>
                        <div>
                            <label><a class="btn btn-info" href="/agents">Retour</a> </label>
                        </div>
                        <h4 class="listCand" *ngIf="candidatures.length!=0">Liste des candidatures</h4>
                    </div>
                    <div *ngIf="candidatures.length!=0" class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Prénom</th>
                                    <th>Statut</th>
                                    <th>Qualité</th>
                                    <th>Titre</th>
                                    <th>Date debut</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cand of candidatures">
                                    <td> {{cand.agent.firstName}}</td>
                                    <td><a [ngClass]="cand.statut=='ACCEPTE'?'text-success': ''">{{cand.statut}}</a></td>
                                    <td>{{cand.qualite}}</td>
                                    <td><button class="btn btn-warning">{{cand.sessionUV.typeSessionUV.title}}</button></td>
                                    <td>{{cand.sessionUV.startDate}}</td>
                                    <td><button class="btn btn-outline-info" (click)="getOneCand(cand.idCandidature)">Voir</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div class="card" *ngIf="candidatures.length==0" >
                        <div class="card-body">
                            <div>
                                <p class="card-text">Aucune candidature {{qualite}} {{currentStatut}}</p>
                            </div>
                        </div>
                    </div>
    
                </div>
  
                <div class="card" *ngIf="this.mode==1">
                    <div>
                        <br>
                        <h3 class="card-title candidature">candidature </h3>
                        <button class="btn btn-info" (click)="golistCand(candidat.qualite)">Retour</button>
                    </div>
                    <br>
                    <div class="row gutters-sm">
                        <div class="col-md-12">
                            <div class=" mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Titre de session</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{candidat.sessionUV.typeSessionUV.title}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Statut</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{candidat.statut}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Qualité</h6>
                                        </div>
                                            <div class="col-sm-9 text-secondary">
                                                {{candidat.qualite}}
                                            </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Date debut</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{candidat.sessionUV.startDate}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Date de fin</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{candidat.sessionUV.endDate}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Description</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                            {{candidat.sessionUV.typeSessionUV.description}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div>
                                        <button class="btn btn-outline-success" mwlConfirmationPopover [popoverTitle]="confirmationTitle" [popoverMessage]="confirmationMessage" [cancelText]="cancelText" 
                                        (confirm)="acceptCand(candidat.idCandidature)" (cancel)="cancelClicked = true" placement="right" confirmButtonType="success" [confirmText]="acceptText">
                                            Accepter
                                        </button>
        
                                        <button class="btn btn-outline-danger pull-right" mwlConfirmationPopover [popoverTitle]="refuserTitle" [popoverMessage]="refuserMessage" [confirmText]="refuserText" 
                                        (confirm)="rejectCand(candidat.idCandidature)" (cancel)="cancelClicked = true" placement="left" confirmButtonType="danger" [cancelText]="cancelText">
                                            Refuser
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
 
</div>

<div class="push"></div>

