<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="card m-3">
            <h5 class="card-header">Nouveau utilisateur</h5>
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label>Prénom</label>
                            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors?.required">Le prénom est obligatoire</div>
                                <div *ngIf="f.firstName.errors?.minlength">Minimum 2 lettres</div>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label>Nom</label>
                            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors?.required">Le nom est obligtoire</div>
                                <div *ngIf="f.firstName.errors?.minlength">Minimum 2 lettres</div>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label>Nom utilisateur</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors?.required">Le nom utilisateur est obligatoire</div>
                                <div *ngIf="f.username.errors?.minlength">Minimum 2 lettres</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Email</label>
                            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors?.required">L'email est obligatoire</div>
                                <div *ngIf="f.email.errors?.pattern">Saisir un email valide</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors?.required">Le mot de passe est obligatoire</div>
                                <div *ngIf="f.password.errors?.minlength">Le mot de passe doit être au moins de 4 caractères</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Adresse</label>
                            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors?.required">L'adresse est obligatoire</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>Pays</label>
                            <input type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                <div *ngIf="f.country.errors?.required">Le pays est obligatoire</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-6">
                            <label>Ville</label>
                            <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors?.required">La ville est obligatoire</div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label>Code postal</label>
                            <input type="text" formControlName="postalCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }" />
                            <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                                <div *ngIf="f.postalCode.errors?.required">Le code postal est obligatoire</div>
                                <div *ngIf="f.postalCode.errors?.pattern">Saisir code postal valide</div>
                                <div *ngIf="f.postalCode.errors?.minlength">Saisir code postal à 5 chiffres</div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary pull-left">Enregistrer</button>
                        <button class="btn btn-secondary pull-right" type="reset" (click)="onReset()">Annuler</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

